:root {
    --color-primary: #301E67;
    --color-primary-dark: #03001C;
    --color-primary-light-1: #5B8FB9;
    --color-primary-light-2: #B6EADA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    width: 8rem;
}

.logo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.name {
    justify-self: end;
    font-size: 1.4rem;
    color: var(--color-primary-dark);
    text-transform: uppercase;
    animation: blink 1.5s infinite;
}

.underline {
    font-weight: 600;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;

    }

    100% {
        opacity: 0;
    }
}

.input {
    padding: 1rem;
    font-size: 1.6rem;
    opacity: .8;
    font-weight: 300;
}

.output {
    align-self: center;
    padding-right: 1.5rem;
    font-size: 2.4rem;
    justify-self: end;
    font-weight: 600;
    letter-spacing: .2rem;
}

.result {
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light-2);
    height: 8rem;
    border-radius: 1rem;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-rows: 2rem 8rem repeat(6, 1fr);
    grid-gap: 1rem;
    width: 36rem;
    height: 60rem;
    margin: 10rem auto;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 1rem;
    background-image: linear-gradient(to right bottom, var(--color-primary-light-1), var(--color-primary-light-2));


}

@media (max-width: 900px) {
    .container {
        margin: 0 auto;
        border-radius: 0;
        max-height: 100vh;
    }
}

.on {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.number {
    align-items: center;
    align-self: center;
    background-color: var(--color-primary-dark);
    height: 5rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    transition: all .2s;

}

.number:hover {
    background-color: var(--color-primary-light-2);
    color: var(--color-primary-dark);
    font-weight: 600;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.number:active {
    background-color: var(--color-primary-light-1);
    color: var(--color-primary-dark);
    font-weight: 600;
    border: 1px solid var(--color-primary-dark);
    box-shadow: 0 8px 6px -6px black;
}

.row {}

.number-1 {
    grid-column: 6;
    background-color: var(--color-primary-light-2);
    color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    height: 2.5rem;

}

.number-1:hover {
    color: #fff;
    background-color: var(--color-primary-dark);
    border: none;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.row-2,
.row-3,
.row-4,
.row-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.last-number {
    grid-column: 3 / span 2;
}

.rn {
    font-size: 1.2rem;
}